<div class="container">
    <div class="row">
        <div class="box">
            <div class="col-md-6 col-md-offset-3">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>Login</strong>
                </h2>
                <hr>
                <form role="form">
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter email"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter password"/>
                    </div>
                    <div class="form-group">
                        <div id="new-user" class="form-action">
                            <a class="btn-link" ng-click="toggleShowRegister()">
                                <small ng-hide="showRegister">new user? click here to register</small>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Login</button>
                    </div>

                    <div ng-show="showRegister === true">
                        <hr>
                        <h2 class="intro-text text-center">
                            <strong>New User</strong>
                        </h2>
                        <hr>
                        <form role="form" >
                            <div class="form-group">
                                <label for="emailR">Email address</label>
                                <input type="email" class="form-control" id="emailR" placeholder="Enter email"/>
                            </div>
                            <div class="form-group">
                                <label for="passwordR">Password</label>
                                <input type="password" class="form-control" id="passwordR" placeholder="Enter password"/>
                            </div>
                            <div class="form-group">
                                <label for="cmfPassword">Confirm Password</label>
                                <input type="password" class="form-control" id="cmfPassword" placeholder="Enter password again"/>
                            </div>
                            <div class="form-group">
                                <div id="hide-register" class="form-action">
                                    <a class="btn-link" ng-click="toggleShowRegister()">
                                        <small>hide register page</small>
                                    </a>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Register</button>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

