<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button id="nav_menu" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav_collapse">
                <span class="sr-only">Menu</span>
                <span class="glyphicon glyphicon-th-list icon-big"></span>
            </button>
            <a class="navbar-brand" ng-href="#/home">Currency Street</a>
            <button id="nav_login" type="button" class="navbar-toggle" ref-click="/login">
                <span class="sr-only">login</span>
                <span class="glyphicon glyphicon-user icon-big"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="nav_collapse">

            <ul class="nav navbar-nav pull-left">
                <li>
                    <a ng-href="#/home">Home</a>
                </li>
                <li>
                    <a ng-href="#/about">About</a>
                </li>
                <li>
                    <a ng-href="#/blog">Blog</a>
                </li>
                <li>
                    <a ng-href="#/contact">Contact</a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right collapse">
                <li>
                    <a ng-href="#/login"><span class="glyphicon glyphicon-user icon-big"></span></a>
                </li>
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container -->
</nav>