<h1>
    My Account
</h1>
<form role="form">
    <div class="panel panel-default">
        <div class="panel-heading">
            My Profile
        </div>
        <div class="panel-body">
            <div class="row  form-group">
                <div class="controls col-lg-4">
                    <label>Join Time</label>
                </div>
                <div class="controls col-lg-4">
                    23-04-2013
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>Name</label>
                </div>
                <div class="controls col-lg-4">
                    Tang Hao
                    <!--<input type="text" class="form-control" value="Tang Hao">-->
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>User Group</label>
                </div>
                <div class="controls col-lg-4">
                    Admin
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            Email Management
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="controls col-lg-4">
                    <label>Email</label>

                    <p class="help-block">To change your email, you need to verify your email address again</p>
                </div>
                <div class="controls col-lg-4">
                    tanghaol1987@gmail.com
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>Password</label>
                </div>
                <div class="controls col-lg-4">
                    Hidden
                </div>
            </div>
            <div class="row form-group">
                <div class="controls col-lg-4">
                    <label>Subscribe News Letter</label>
                </div>
                <div class="controls col-lg-4">
                    <input type="checkbox" checked disabled>
                </div>
            </div>
        </div>
    </div>
</form>